.containerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin-top: 50px;
  width: 300px;
  height: 400px;
  border-radius: 8px;
  background-image: url("/public/fondoCards.png");
  box-shadow: 0 0 20px beige;
}

.closeButton {
  cursor: pointer;
  background-color: red;
  color: white;
  margin-left: 250px;
  transition: 0.3s;
  height: 25px;
  width: 30px;
}
.closeButton:hover {
  background-color: white;
  color: red;
}

.favouriteButton {
  margin-top: 1px;
  margin-left: 250px;
  height: 25px;
  width: 30px;
}

.favouriteButton:hover {
  background-color: beige;
}

.name {
  color: beige;
  margin-top: 16px;
  font-size: 20px;
  font-weight: bold;
}

.species {
  color: rgb(18, 176, 201);
  font-size: 16px;
}

.gender {
  color: rgb(63, 207, 63);
  font-size: 16px;
}

.imgCard {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
