
h1 {
  color: rgb(63, 207, 63);
}

.containerForm {
  padding: 10px;
  color: beige;
}

button {
  background-color: rgb(63, 207, 63);
  color: beige;
  font-weight: bold;
  border-radius: 8px;
  height: 28px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

button:hover {
  cursor: pointer;
  color: black;
}
