.containerForm{
    padding: 50px;
}

.botonVolver {
  background-color: rgb(63, 207, 63);
  color: beige;
  font-weight: bold;
  border-radius: 8px;
  height: 28px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.botonVolver:hover {
  cursor: pointer;
}
