.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 8px;
  margin-bottom: 16px;
  width: 300px;
  height: 400px;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  background-image: url(/public/fondoCards.png);
  box-shadow: 0 0 20px #fafafa;
}

.closeButton {
  cursor: pointer;
  background-color: red;
  color: white;
  border: 1px solid black;

  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.closeButton:hover {
  background-color: red;
  color: white;
}
.name {
  color: beige;
  margin-top: 16px;
  font-size: 20px;
  font-weight: bold;
}

.species {
  color: beige;
  font-size: 16px;
}

.gender {
  color: rgb(63, 207, 63);
  font-size: 16px;
}

.image {
  width: 100%;
  height: 200px;
  margin-top: 16px;
  object-fit: cover;
  border: 8px;
  border-radius: 8px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
