.containerNav {
  background-color: rgb(18, 176, 201);
  padding: 12px;
  gap: 12px;
  display: flex;
  border-radius: 12px;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: 0.3s;
}
a:hover {
  color: beige;
}

@media (max-width: 600px) {
  .containerNav {
    display: flex;
    flex-flow: column wrap;
  }
}