.containerNav {
  background-color: rgb(18, 176, 201);
  padding: 12px;
  gap: 12px;
  display: flex;
  border-radius: 12px;
}

@media (max-width: 600px) {
  .containerNav {
    display: flex;
    flex-flow: column wrap;
  }
}
