.containerSearchBar {
  display: flex;
  gap: 5px;
}

.containerSearchBar button{
padding: 0 5px;
}

@media (max-width: 600px) {
  .containerSearchBar {
    display: flex;
    flex-flow: column wrap;
    padding-right: 40px;
  }
}
