.container {
  display: flex;
  justify-content: right;
  margin-left: 50px;
  gap: 8px;
}

@media (max-width: 600px) {
  .container {
    display: flex;
    flex-flow: column wrap;
    padding-right: 40px;

  }
}
