.containerNav {
  background-color: #2ca3ad;
  padding: 12px;
  gap: 12px;
  display: flex;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
  margin-left: 50px;
}
a:hover {
  color: black;
}
