.container {
  display: flex;
  justify-content: right;
  gap: 8px;
}

.input {
  border-radius: 8px;
  height: 28px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.button {
  background-color: rgb(63, 207, 63);
  color: beige;
  font-weight: bold;
  border-radius: 8px;
  height: 28px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.button:hover {
  cursor: pointer;
  color: black;
}
