.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.input {
  border-radius: 3px;
  height: 28px;
  width: auto;
}

.button {
  background-color: rgb(63, 207, 63);
  color: beige;
  font-weight: bold;
  border-radius: 3px;
  height: 28px;
}

.button:hover {
  cursor: pointer;
  color: black;
}
